html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  font-family: Work Sans;
}

.main {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 80%;
  display: flex;
}

.svg {
  background-color: #f08080c4;
  display: flex;
}

.data_form {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.window {
  margin: 0.5em;
}
.data_form_bg {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.data_form h1 {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

.examples_link {
  margin-top: 2em;
  font-size: 1em;
  text-align: center;
}

a:active, a:visited, a:link {
  text-decoration: none;
  color: black;
}
